<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="YipYip Rest' is a restaurant app that allows you to explore and discover a wide variety of restaurants based on location, rating, and more. Enjoy seamless browsing experience!" />
    <link rel="manifest" href="./app.webmanifest"> <!--emg musti kyk gini, dia ga ngeref langsung -->
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps</title>
  </head>
  <body>
    <header>
      <a href="#maincontent" class="skip-to-content">Skip to main content</a>
      <h1 class="app-logo">YipYip Rest'!</h1>
      <button id="hamburger" aria-label="Open navigation menu">☰</button>
      <nav id="drawer">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://www.linkedin.com/in/selna-rustam-134731169/">About Us</a></li>
        </ul>
      </nav>
    </header>
    <main>
    </main>
    <footer>
      <h3>Copyright © 2024 - YipYip</h3>
    </footer>  
  </body>
</html>
